.masthead {
    height: 100%;
    min-height: 500px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.masthead-page {
    padding: 0;
    background-color: #ffb800;
    /*background-image: url('../img/overlay.svg'),linear-gradient(45deg,#ffb800 0%,#e6a600 100%);*/
    background-image: url('../img/overlay.svg'),linear-gradient(45deg,#6e7173 0%,#1b1b1f 100%);
    background-size: cover;
}

.error-message {
    font-size: 10px;
    color: red;
}
@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.header-brand {
    font-family: Playfair;
}
.general-search::placeholder {
    font-style: italic;
}
.general-search-dropdown {
    flex: unset !important;
    width: 75px !important;
}
.input-group-sm>.custom-select, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
    line-height: 1.6 !important;
}
.custom-file-input {
    cursor: pointer;
}
.line-hieght-50 {
    line-height: 50px;
}
.line-hieght-25 {
    line-height: 25px;
}
.line-hieght-20 {
    line-height: 20px;
}
.line-hieght-15 {
    line-height: 15px;
}
.line-hieght-10 {
    line-height: 10px;
}
.post-action {
    font-size: 18px;
    color: #6c757d;
    cursor: pointer;
}
.post-liked {
    color: #ec4d3d!important;
}
.route-user {
    cursor: pointer;
}